.navContainer {
  width: 100%;
  height: 10vh;
  bottom: 0;
  position: fixed;
  background-color: black;
  color: white;
}

.navContainer ul {
  height: 100%;
  list-style: none;
  text-align: center;
}

.navContainer a {
  color: white;
  text-decoration: none;
}

.navContainer li {
  height: inherit;
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem;
}
